@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Vars */
:root {
  --accent: #1c6aaf;
  --codebg: #eee;
  --bg: #faf9ee;
  --fg: #444;
  --hl: #0000aa0a;
}

/* Default settings */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Title and overall */
html {
  min-height: 100vh;
  background-color: var(--bg);
}
body {
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  width: min(80ch,90%);

  padding: rem;
  padding-left: min(7rem,3%);
  padding-right: min(7rem,3%);

  font-family: 'Inter', sans-serif;
  font-size: 10pt;    
  line-height: 1.5;
  color: var(--fg);
  text-align: justify;
}

h1 {
  color: var(--fg);
  font-size: 225%;
  font-weight: 700;
  margin-bottom: 1rem;
}

.outline-text-2,
.outline-text-3, 
.outline-text-4, 
.outline-text-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.outline-2 .inactive {
  visibility: hidden;
}
.outline-text-2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
h2 {
  display: flex;
  align-items: baseline;
  
  color: var(--fg);
  font-size: 100%;
  font-family: 'Inter', sans-serif;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1pt var(--accent) dashed;
  padding: 2pt;
  padding-top: 0.5rem;
  cursor: pointer;
}
h2:hover {
  text-decoration: underline;
}
h2 .timestamp {
  font-size: 80%;
  font-weight: normal;
  flex-shrink: 0;
  padding-right: 1ch;
}
@media only screen and (max-width: 600px) {
    h2 .timestamp {
        display: none;
    }
}
h2 .tag {
  color: var(--fg);
  font-size: 80%;
  font-weight: normal;
  border-radius: 2pt;
  border: 1pt var(--fg) solid;
  padding-left: 1ch;
  padding-right: 1ch;
  margin-left: auto;
  margin-right: 0.5rem;
  min-width: 6ch;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 100%;
  color: black;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 0pt;
}
h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 100%;
  font-weight: bold;
  color: var(---fg);
}

p {
  margin-bottom: 1rem;
}

li {
  margin-left: 1.25rem;
}
ul {
  list-style-type: disc;
}

.org-src-container {
  background-color: var(--codebg);
  padding: 1rem;
  font-family: monospace;
  line-height: 1.2;
  margin-bottom: 1rem;
  border-radius: 3px;
}
code {
  font-family: monospace;
  padding: 1px;
  padding-left: 1ch;
  padding-right: 1ch;
  background-color: var(--codebg);
  border-radius: 3px;
}
a {
  text-decoration: none;
  color: var(--accent);
}
a:hover {
  text-decoration: underline;
}

/* Folding */
.inactive {
  display: none;
}
.droparrow {
  display: none; /*Disable arrows*/
  height: 0.8rem;
  margin-right: 0.3rem;
  transform: rotate(-90deg);
  transition: 0.2s ease-in-out;
  fill: var(--fg);
}
.dropped {
  transform: rotate(0deg);
}

/* Filters */
#filters {
  
}
input, button {
  padding: 0.2rem;
  padding-left: 1ch;
  padding-right: 1ch;
  
  border: 1pt solid var(--fg);
  border-radius: 2pt;
  background-color: var(--bg);
  color: var(--fg);
}
#searchbar {
  width: 25ch;
  background-color: white;
  margin-bottom: 1rem;
}
#tagbuttons {
  line-height: 1.1;
  margin-bottom: 1.5rem;
}
button {
  margin-right: 1ch;
  cursor: pointer;
  min-width: 7ch;
}
button.checked {
  background-color: var(--accent);
  color: var(--bg);
}

/* Table */
caption {
  margin-bottom: 0.5rem;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.6rem;
  border: none;
}
thead {
  text-transform: capitalize;
}
tbody tr {
  outline: 1px solid #eee;
  box-shadow: 0px 0px 5px #ddd;
  border-radius: 5px;
/*   background-color: var(--codebg); */
}
tbody tr:hover {
  background-color: var(--hl);
  cursor: pointer;
}
td {
  padding: 0.3rem;
}

/* Org todos */
.TODO {
  color: var(--bg);
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  font-size: 90%;
  border-radius: 4px;
  background-color: darkred;
  opacity: 50%;
}

/* Timestamp for jnl */
#mjnltime {
  font-weight: bold;
  padding-right: 0.3rem;
}